// 颜色
// 强调色
$accentColor = #3eaf7c
// 字体颜色
$textColor = #2c3e50
// 边框颜色
$borderColor = #eaecef
// 代码背景色
$codeBgColor = #242424
// 箭头颜色
$arrowBgColor = #ccc
// badge组件提示色
$badgeTipColor = #42b983
// badge组件警告色
$badgeWarningColor = darken(#ffe564, 35%)
// badge组件错误色
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

.navbar .site-name {
  font-size: 1.5rem;
}
.sidebar-heading {
  font-size: 1.2em;
}
.sidebar-group.is-sub-group > .sidebar-heading {
  font-size: 1.3em;
}
.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
  font-size: 1.0em;
}